@media (min-width: 960px) {
    .bd-page-width {
      max-width: 140rem;
    }
    .bd-sidebar-secondary {
        max-width: 25em;
    }
}

.sig.cpp {
  font-size: 0.875em;
}

.bd-sidebar-primary {
  flex-basis: 15%;
}
