name: ROS 2 Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build_and_test_ros2_jazzy:
    runs-on: ubuntu-latest
    container:
      image: rostooling/setup-ros-docker:ubuntu-noble-latest
    steps:
      - name: Build and run tests ROS 2 Jazzy
        uses: ros-tooling/action-ros-ci@v0.4
        with:
          package-name: icey icey_examples
          target-ros2-distro: jazzy 

  build_and_test_ros2_humble:
    runs-on: ubuntu-latest
    container:
      image: rostooling/setup-ros-docker:ubuntu-jammy-latest
    steps:
      - name: Build and run tests ROS 2 Humble
        uses: ros-tooling/action-ros-ci@v0.4
        with:
          package-name: icey icey_examples
          target-ros2-distro: humble

  build_and_test_ros2_kilted:
    runs-on: ubuntu-latest
    container:
      image: rostooling/setup-ros-docker:ubuntu-noble-latest
    steps:
      - name: Build and run tests ROS 2 Kilted
        uses: ros-tooling/action-ros-ci@0.4.5
        with:
          package-name: icey icey_examples
          target-ros2-distro: kilted